# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Bb]in/
[Oo]bj/
x64/
x86/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Test results
[Tt]est[Rr]esult*/
*.trx
*.VisualState.xml

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Misc
*.log
*.tmp
*.pdb
~$*
*~
